main.tickets {
  text-align: center;
  padding-top: 2rem;
}

.ticket-container {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "lato";
    margin-top: 2rem;
  

      span {
        font-family: "lato";
        padding-bottom: 0.5rem;
        border-bottom: $secondary-color 3px solid;
        
      }
    }

    .ticket-instruction {
      border: darken($tertiary-color,10) solid 1px;
      padding: 1rem 2rem;
      border-radius: 30px;
      margin-top: 2rem;

      span {
        font-family: "lato";
        color: $secondary-color;
        padding-right: 1rem;
      }
    }

  .ticket-small-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

table {
  border-collapse: collapse;
  position: relative;
  z-index: 2;
  
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    background-image: linear-gradient(to right,blue, red,white,blue,red,white,blue,red,white,blue,red,white,blue,red,white,blue,red,white,blue,
    red,white,blue,red,white,blue,red,white,blue,red,white,blue,red,white,blue,red,white,blue,
    red,white,blue,red,white,blue,red,white,blue,red,white,blue,red,white,blue,red,white,blue,red);
  }
  tr {
    background-color: lighten($tertiary-color,15);
  }
  tr:first-child {
    background-color: lighten($tertiary-color,5);
  }
  td,
  th {
    padding: 0.5rem;
    border: darken($tertiary-color,10) 1px solid;
  }
  
}

.food-con {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin-top: 2rem;
  border: darken($tertiary-color,10) solid 1px;

  .top-food {
    text-align: center;
    
    h4 {
     font-family: "lato";
     background-color: lighten($tertiary-color,10);
     padding: 1rem;
    }
  }
  .bottom-food {
    background-color: lighten($tertiary-color,20);
    display: flex;
    

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        padding: 1rem 1rem;
      }

    }
  }
}
.none {
  display: none;
}