@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: 'Cocogoose';
  src: url("../font-family/Cocogoose.woff2") format("woff2"), url("../font-family/Cocogoose.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Cocogoose", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #d3d3d3;
}

a {
  text-decoration: none;
}

p,
li,
a {
  font-family: "Lato", sans-serif;
}

.menu-icon {
  z-index: 3;
  width: 25px;
  position: fixed;
  padding: 0.5rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon .menu-line {
  width: 20px;
  height: 3px;
  background-color: #ec5242;
  margin-bottom: 3px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-icon.open {
  -webkit-transform: rotate(180deg) translate(-10px, 0);
          transform: rotate(180deg) translate(-10px, 0);
}

.menu-icon.open .menu-line:nth-child(3) {
  background-color: ivory;
  -webkit-transform: translate(-63px, -19px);
          transform: translate(-63px, -19px);
  width: 50px;
}

.menu-icon.open .menu-line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-icon.open .menu-line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-4px, 3.9px);
          transform: rotate(-45deg) translate(-4px, 3.9px);
}

.main-navigation {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.main-navigation .navigation-top {
  background-color: #32363f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

.main-navigation .navigation-top ul {
  list-style: none;
}

.main-navigation .navigation-top ul li {
  float: left;
  margin-left: 2.2rem;
}

.main-navigation .navigation-top ul li a {
  color: #fff;
}

.display-nav {
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
}

.main-container {
  background-image: url("../assets/background-image.jpg");
  background-size: 100% 100%;
}

.heading-main {
  padding: 3rem;
  color: #d3d3d3;
}

.heading-main h3 {
  font-family: "Lato", sans-serif;
  background-color: rgba(186, 186, 186, 0.1);
}

.heading-main h1 {
  background-color: rgba(186, 186, 186, 0.1);
}

.heading-main h1 span {
  color: #ec5242;
}

.heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.heading-text {
  padding: 1rem;
  -webkit-box-shadow: #fff 0 0 10px;
          box-shadow: #fff 0 0 10px;
  background-color: #e7e7e7;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.heading-text:hover {
  -webkit-box-shadow: #000 0 0 10px;
          box-shadow: #000 0 0 10px;
}

.heading-text h4 {
  color: #ec5242;
}

.card-container {
  padding: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background-color: #272a31;
}

.card-container h2 {
  text-align: center;
  color: #ededed;
  margin-bottom: 1rem;
}

.card-container h2 span {
  padding-bottom: 0.5rem;
  border-bottom: #ec5242 3px solid;
}

.card {
  background-color: #3e424d;
  border-radius: 8px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.card:hover {
  -webkit-box-shadow: #fff 0 0 10px;
          box-shadow: #fff 0 0 10px;
}

.card i {
  color: #ededed;
}

.card h4 {
  color: #e42a17;
}

.card p {
  color: #d3d3d3;
}

.speaker-container {
  padding: 1rem;
}

.speaker-container .top-speaker-text {
  text-align: center;
  color: #272a31;
}

.speaker-container .top-speaker-text span {
  padding-bottom: 0.5rem;
  border-bottom: #ec5242 3px solid;
}

.speaker-container .speaker-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-top: 2rem;
  -webkit-box-shadow: white 0 0 15px;
          box-shadow: white 0 0 15px;
  padding: 1rem;
}

.speaker-container .speaker-card .speaker-image-container {
  width: 100%;
}

.speaker-container .speaker-card .speaker-image-container img {
  width: 100%;
}

.speaker-container .speaker-card .speaker-text-container {
  color: #272a31;
}

.speaker-container .speaker-card .speaker-text-container span {
  color: #ec5242;
  font-size: 0.8rem;
}

.speaker-container .speaker-card .speaker-text-container .top-speaker-con {
  padding-bottom: 0.5rem;
  border-bottom: #bababa solid 2px;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
      grid-template-areas: "topf topf" "leftf rightf";
  padding: 1rem;
  background-color: #101215;
  color: #bababa;
}

footer .top-footer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: topf;
  text-align: center;
}

footer .left-footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: leftf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

footer .right-footer {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: rightf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */